.app {
  background-color: #DDEEFC;
  height: 100%;
  padding-top: 180px;
}

.app-cc-form {
  padding-top: 200px;
  border-radius: 10px;
  box-shadow: 0px 25px 25px 10px #C8DAEC;
  padding-left: 10px;
  padding-right: 10px;
}
.app-cc {
  top: -23%;
  left: 100px;
  z-index: 1;
}